[submodule "third_party/xquic"]
	path = third_party/xquic
	url = https://github.com/suyuan168/xquic
	branch = mqvpn-omr-main
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = https://github.com/mp0rta/heiher-lwip.git
	branch = mqvpn-main
